In [64]:
import pandas as pd

file = '/home/nkureev/Cells_for_AFM.tsv'
data = pd.read_csv(file, sep='\t')

In [65]:
len(data)

44

In [66]:
data = data.dropna()

In [67]:
len(data)

38

In [68]:
green_data = data[data['Color'] == 'Green']

In [69]:
green_data.head()

   Cell number Young's modulus  Color
0            1      702,573.00  Green
1            2      350,811.00  Green
2            3      525,243.00  Green
3            4      363,032.00  Green
4            5      663,520.00  Green

In [70]:
red_data = data[data['Color'] == 'Red']

In [71]:
red_data.head()

    Cell number Young's modulus Color
8             9      949,627.00   Red
9            10      845,313.00   Red
11           12        1,004.42   Red
12           13      848,391.00   Red
13           14      678,487.00   Red

In [72]:
red_data_values = []
for i in list(red_data["Young's modulus"]):
    value = int(''.join(i.split('.')[0].split(',')))
    if value > 100000:
        red_data_values.append(value)
    
green_data_values = []
for i in list(green_data["Young's modulus"]):
    value = int(''.join(i.split('.')[0].split(',')))
    if value > 100000:
        green_data_values.append(value)

In [73]:
red_data_values

[949627,
 845313,
 848391,
 678487,
 601345,
 671634,
 503397,
 911614,
 359476,
 473973,
 492927,
 645616,
 714993,
 384980,
 581461,
 697668,
 494730]

In [74]:
green_data_values

[702573,
 350811,
 525243,
 363032,
 663520,
 561261,
 576960,
 306768,
 576581,
 416516,
 686270,
 419087,
 602829,
 461374,
 760732,
 579099,
 407855]

In [75]:
from scipy import stats

stats.ttest_ind(red_data_values, green_data_values)

Ttest_indResult(statistic=2.0592812127430813, pvalue=0.047681896378382986)